<li class="gifs-item">
    <a class="gifs-item-image" data-hook="src url"></a>
    <div class="gifs-item-url" data-hook="show-url">
        <input type="text" data-hook="show-url-value" readonly>
    </div>
    <span class="gifs-item-id gifs-item-controls" data-hook="id">0</span>
    <button type="button" class="gifs-item-remove gifs-item-controls" data-hook="remove">Remove</button>
    <button type="button" class="gifs-item-show-url gifs-item-controls" data-hook="show-url-button">URL</button>
</li>
